@{
    ViewBag.Title = "About";
}

<!-- Three columns of text below the carousel -->
<!-- START THE FEATURETTES -->

<hr class="featurette-divider">
<br />
<br />

<div class="row featurette">
    <div class="col-md-12">
        <h2 class="featurette-heading w3-banner-top" style="height:50px;padding:10px;border-radius:10px;">ประวัติความเป็นมา <span class="text-muted">สหกรณ์การเกษตร</span></h2><br />
        <br />
        <br />
        <div class="text-center card-photo" style="background-color:#f4f5f5;width:auto;height:400px;overflow:hidden;">
            <img src="https://iso.500px.com/wp-content/uploads/2016/05/stock-photo-133489571.jpg">
        </div><br />
        <p class="lead" style="font-size:15px">
            &nbsp;คณะรัฐมนตรีได้มีมติเมื่อวันที่ 20 สิงหาคม 2534 อนุมัติความเห็นของ<br />อ.ก.พ.วิสามัญเกี่ยวกับการแบ่งส่วนราชการระดับต่ำกว่ากรมตามหนังสือ  สำนักเลขาธิการคณะรัฐมนตรี ที่ นร 0203/14053 ลงวันที่ 27 สิงหาคม 2534 โดยเห็นสมควรสนับสนุนในหลักการให้จัดตั้ง "สำนักงานเกษตรและสหกรณ์จังหวัด" เป็นผู้แทนกระทรวงเกษตรและสหกรณ์ในส่วนภูมิภาค สังกัดสำนักงานปลัดกระทรวงเกษตรและสหกรณ์   เพื่อให้การบริหารงานของกระทรวงเกษตรและสหกรณ์ ในส่วนภูมิภาคให้มีประสิทธิภาพและเอกภาพสำหรับการจัดตั้งนั้น ได้แบ่งออกเป็น 2 ระยะ  คือ ระยะทดลองการปฏิบัติงานและระยะการจัดตั้งอย่างเป็นการถาวร <br />

            ระยะทดลองการปฏิบัติงาน ได้จัดตั้งสำนักงานเกษตรและสหกรณ์ใน 4 จังหวัด ที่ตั้งของสำนักงานเกษตรภาค  คือ เชียงใหม่ ขอนแก่น ชัยนาทและสงขลา<br />

            ระยะจัดตั้งอย่างเป็นทางการ  กระทรวงเกษตรและสหกรณ์ได้มีคำสั่งคณะทำงานประเมินผลการปฏิบัติงานของสำนักงานเกษตรและสหกรณ์จังหวัด  ซึ่งได้ดำเนินการประเมินผลการปฏิบัติงานทั้ง 4 จังหวัด ผลการปฏิบัติงานเป็นที่น่าพอใจ กระทรวงเกษตรฯ จึงได้นำเรื่องขออนุมัติคณะรัฐมนตรีขอตั้งเป็นทางการต่อไป และได้รับการจัดตั้งเป็นทางการเมื่อวันที่ 8 กุมภาพันธ์ 2538 ตามพระราชกฤษฎีกาแบ่งส่วนราชการสำนักงานปลัดกระทรวงเกษตรและสหกรณ์ พ.ศ.2538  โดยกระทรวงฯได้จัดตั้งครั้งแรก 8 จังหวัด คือ จังหวัดเชียงใหม่ ขอนแก่น ชัยนาท  สงขลา  ลำปาง  กาฬสินธุ์  เพชรบุรี  และสุราษฎร์ธานี ตามคำสั่งสำนักงานปลัดกระทรวงเกษตรและสหกรณ์ ที่ 154/2538 ลงวันที่ 21 กุมภาพันธ์ 2538 และได้จัดตั้งเพิ่มเติมอีก 12 จังหวัด ในปีงบประมาณ 2538 คือ จังหวัดเชียงราย อุดรธานี  มหาสารคาม นครสวรรค์ สุพรรณบุรี สิงห์บุรี ลำพูน พะเยา อ่างทอง ร้อยเอ็ด หนองบัวลำภู และพัทลุง ตามคำสั่งสำนักงานปลัดกระทรวงเกษตรและสหกรณ์ ที่ 586/2538  ลงวันที่  31 สิงหาคม 2538  ต่อมาในปี 2539 ได้จัดตั้งเพิ่มเติมอีก 30 จังหวัด และจังหวัดที่เหลือได้จัดตั้งแล้วเสร็จในปี 2540 รวมถึงจังหวัดนครนายก ด้วย

            ดังนั้นตั้งแต่ปีงบประมาณ 2540  เป็นต้นมา ได้มีการจัดตั้งสำนักงานเกษตรและสหกรณ์จังหวัดขึ้นครบทุกจังหวัดทั่วประเทศ<br />

            ปัจจุบัน สำนักงานเกษตรและสหกรณ์จังหวัดนครนายก  ตั้งอยู่ที่  ศาลากลางจังหวัดนครนายก ชั้น 2  ถนนสุวรรณศร ตำบลท่าช้าง อำเภอเมืองนครนายก จังหวัดนครนายก 26000
        </p>
    </div>

</div>

<div class="row featurette">
    <div class="col-md-6">
        <div class="w3-banner-top" style="height:50px;padding:10px;border-radius:10px;">
            <h2 class="featurette-heading">วิสัยทัศน์ <span class="text-muted">พันธกิจ</span></h2>
        </div>
        <br />
        <br />
        <br />
        <p class="lead" style="font-size:20px;font:bold"> วิสัยทัศน์</p>
        <p class="lead" style="font-size:15px;">  องค์กรสมรรถนะสูงในการอำนวยการและสนับสนุนการพัฒนาการเกษตรและสหกรณ์อย่างบูรณาการ สู่ผลสัมฤทธิ์เพิ่มคุณภาพชีวิตเกษตรกร</p>
        <p class="lead" style="font-size: 20px; font: bold"> พันธกิจ</p>
        <p class="lead" style="font-size:15px;">
            1) พัฒนาและเสริมสร้างศักยภาพของเกษตรกรให้บรรลุผลตามแนวทางปรัชญาเศรษฐกิจพอเพียง<br />

            2) กำกับ ดูแล สนับสนุน และประสานงานให้หน่วยงานในสังกัดกระทรวงมีสมรรถนะประสิทธิภาพและประสิทธิผลการทำงานมากขึ้น รวมทั้งการสร้างพื้นฐานระบบการบริหารจัดการที่ดีของกระทรวง<br />

            3) พัฒนาและเสริมสร้างศักยภาพบุคลากรทุกระดับอย่างเป็นระบบ<br />

            4) พัฒนาและสนับสนุนการประชาสัมพันธ์นโยบาย กิจกรรม และโครงการต่างๆ ของกระทรวงให้เป็นที่รู้จักอย่างกว้างขวาง<br />

            5) สนับสนุนและประสานงานให้ภารกิจด้านการเกษตรต่างประเทศเกิดความคล่องตัวและมีประสิทธิภาพ<br />

            6) พัฒนาและส่งเสริมการนำเทคโนโลยีสารสนเทศและการสื่อสารมาใช้ให้เกิดประสิทธิภาพและประสิทธิผล<br />
        </p>

    </div>
    <div class="col-md-6  text-center card-photo " style="background-color:#f4f5f5;width:455px;height:auto; overflow:hidden;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Wat_Yansangwararam_%E0%B8%A7%E0%B8%B1%E0%B8%94%E0%B8%8D%E0%B8%B2%E0%B8%93%E0%B8%AA%E0%B8%B1%E0%B8%87%E0%B8%A7%E0%B8%A3%E0%B8%B2%E0%B8%A3%E0%B8%B2%E0%B8%A1_2562_06.jpg/455px-Wat_Yansangwararam_%E0%B8%A7%E0%B8%B1%E0%B8%94%E0%B8%8D%E0%B8%B2%E0%B8%93%E0%B8%AA%E0%B8%B1%E0%B8%87%E0%B8%A7%E0%B8%A3%E0%B8%B2%E0%B8%A3%E0%B8%B2%E0%B8%A1_2562_06.jpg">
    </div>
</div>



<!-- /END THE FEATURETTES -->
