@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="top:10px;position:sticky;">

    <div class="card-photo" style="max-height:300px;width:100%;margin-top:70px;">
        <img src="http://ongkharak.nakhonnayok.doae.go.th/jpg/button/H.png" style="height:auto;width:100%;overflow:hidden;">
    </div>
    <div class=" col-md-9 col-sm-6" style="width:634px">

        <div class="box-body" style="padding: 10px;padding-top: 0px;">
            <h2 class="w3-banner-top" style="padding:10px;border-radius:3px;height:60px;">ประชาสัมพันธ์</h2>
            <br /> <br /><br /><br />
            <p>
                ตามที่คณะรัฐมนตรีได้มีมติเมื่อวันที่ 17 มีนาคม 2563 เรื่อง มาตรการเร่งด่วนในการป้องกันวิกฤตการณ์จากโรคติดเชื้อไวรัสโคโรนา 2019 และจังหวัดขอนแก่นประกาศคณะกรรมการโรคติดต่อจังหวัดขอนแก่น เรื่อง มาตรการการเฝ้าระวัง ป้องกันและควบคุมโรคติดต่อเชื้อไวรัสโคโรนา 2019 ดังนั้น เพื่อให้สอดคล้องกับมาตรการและประกาศดังกล่าว
                สำนักงานเกษตรอำเภอเมืองขอนแก่น ขอแจ้งเกษตรกรให้ชลอการเดินทางเข้ามาสำนักงาน ให้ใช้ช่องทางการติดต่อหรือประสานงานที่เกี่ยวข้องและเร่งด่วนแทน คือ
            </p>
        </div>
        <div class="box-body" style="padding: 10px;padding-top: 0px;">
            <h2 class="w3-banner-top" style="padding:10px;border-radius:3px;height:60px;">ประกาศ</h2>
            <br /> <br /><br /><br />
                               <p>

                                   *** ข่าวจัดซื้อจัดจ้าง ***
                                   * ประกาศผลการจัดซื้อจัดจ้าง
                                   - ประกาศผลผู้ชนะการจัดซื้อจัดจ้างฯ ประจำไตรมาสที่ 3
                                   - ประกาศผลผู้ชนะการจัดซื้อจัดจ้างฯ ประจำไตรมาสที่ 4
                                   - ประกาศผลผู้ชนะการจัดซื้อจัดจ้างฯ ประจำไตรมาสที่ 1 ปี 2563


                                   สำนักงานเกษตรอำเภอองครักษ์ จังหวัดนครนายก
                                   รับขึ้นทะเบียนเกษตรกรและปรับปรุงทะเบียนเกษตรกร ปี 2563 โดยดำเนินการดังนี้
                                   กลุ่มเป้าหมายที่ 1 เกษตรกรที่เคยขึ้นทะเบียนเกษตรกรไว้แล้วทำการปรับปรุงข้อมูลการทำการเกษตร
                                   กลุ่มเป้าหมายที่ 2 เกษตรกรที่ยังไม่ขึ้นทะเบียนเกษตรกรทำการขึ้นทะเบียนเพิ่มเติมพร้อมกระบวนการ
                                   ตรวจสอบพื้นที่
                                   โดยสามารถขึ้นทะเบียนเกษตรกรและปรับปรุงทะเบียนเกษตรกรได้ที่สำนักงานเกษตรอำเภอองครักษ์ ได้ทุกวันตามเวลาราชการ
                               </p>
        </div>
        <div class="box-body">
                <img src="http://ongkharak.nakhonnayok.doae.go.th/pdf/pie.jpg" alt="">
            </div>
        <div class="box-body">
            <div class="card-box-body">
                <img src="http://ongkharak.nakhonnayok.doae.go.th/jpg/17-1-20/1.jpg" alt="">
                <div class="overlay-text" onclick="showPopup()">
                    <h3>คลิ๊ก</h3>
                    <span class="post">
                        ดูเพิ่มเติม
                    </span>
                </div>
            </div>
            <div class="text-left" style=" padding: 10px; margin-top: 0px;padding-top: 0px;">
                <h3>หน่วยบำบัดทุกข์ บำรุงสุข สร้างรอยยิ้มและความปรองดองสมานฉันท์ ให้ประชาชนจังหวัดนครนายก</h3>
                วันที่ 14 มกราคม 2563 นายพิชัย วงษ์บัวงาม เกษตรจังหวัดนครนายกมอบหมายให้ นายมนตรี เรืองพันธ์ หัวหน้ากลุ่มส่งเสริมและพัฒนาเกษตรกร พร้อมเจ้าหน้าที่สำนักงานเกษตรจังหวัดนครนายกและเกษตรอำเภอองครักษ์ ออกหน่วยบริการเคลื่อนที่ ในโครงการ "หน่วยบำบัดทุกข์ บำรุงสุข สร้างรอยยิ้มและความปรองดองสมานฉันท์ ให้ประชาชนจังหวัดนครนายก" ณ วัดอำภาศิริวงศ์ ต.คลองใหญ่ อ.องครักษ์ จ.นครนายก โดยมี ผู้ว่าราชการจังหวัด เป็นประธานการจัดโครงการ ซึ่งหน่วยบริการของสำนักงานเกษตรจังหวัด มีการประชาสัมพันธ์แนะนำ การปลูกพืชใช้น้ำน้อย แจกเมล็ดพันธุ์พืชและต้นกล้ามะละกอให้แก่ประชาชนที่เข้าร่วมงาน
            </div>
        </div>
        <div class="box-body">
            <div class="card-box-body">
                <img src="http://ongkharak.nakhonnayok.doae.go.th/jpg/YEAR%2056/9-56/21.gif" alt="">
                <div class="overlay-text" onclick="showPopup()">
                    <h3>คลิ๊ก</h3>
                    <span class="post">
                        ดูเพิ่มเติม
                    </span>
                </div>
            </div>
            <div class="text-left" style=" padding: 10px; margin-top: 0px;padding-top: 0px;">
                <h3>ตรวจสอบพื้นที่ขึ้นทะเบียน</h3>
                27 กันยายน  2556
                นายอนันต์  พันสด  นักวิชาการส่งเสริมการเกษตรชำนาญการ
                จัดทำประชาคม/ตรวจสอบพื้นที่ขึ้นทะเบียน/จับพิกัด GPS  หมู่ 3 ตำบลศีรษะกระบือ
            </div>
        </div>
        <div class="box-body">
            <div class="card-box-body">
                <img src="http://ongkharak.nakhonnayok.doae.go.th/jpg/YEAR%2056/9-56/23.gif" alt="">
                <div class="overlay-text" onclick="showPopup()">
                    <h3>คลิ๊ก</h3>
                    <span class="post">
                        ดูเพิ่มเติม
                    </span>
                </div>
            </div>
            <div class="text-left" style=" padding: 10px; margin-top: 0px;padding-top: 0px;">
                <h3>ติดตามการดำเนินงานการจัดทำประชาคม</h3>
                27 กันยายน  2556
                คณะเจ้าหน้าทีกรมส่งเสริมการเกษตร และสำนักพัฒนาการเกษตรเขต 3 จังหวัดระยอง
                ติดตามการดำเนินงานการจัดทำประชาคม/
                ตรวจสอบพื้นที่ขึ้นทะเบียน/จับพิกัด GPS  หมู่ 3 ตำบลศีรษะกระบือ
            </div>
        </div>

    </div>
    <div class="sticky">
        <div class="minibox col-md-3">
            <div class="card-mini" style="width:290px;padding:10px;margin-left:30px;background-image:url(https://media.giphy.com/media/BHNfhgU63qrks/giphy.gif)">

                <h2 class="agileits-address-text " style="color:white">ข้อมูลส่วนตัว</h2>

            </div>
        </div>
        <div class="minibox col-md-3">
            <div class="card-mini" style="width:290px;padding:10px;margin-left:30px;background-image:url(https://thumbs.gfycat.com/ThriftyPlasticLeveret-size_restricted.gif)">

                <h4 class="agileits-address-text " style="color:white">เว็บไซต์สำนักงานเกษตรอำเภอ</h4>
                <div>
                    <ul>
                        <li style="color:white">อำเภอเมืองนครนายก</li>
                        <li style="color:white">อำเภอบ้านนา</li>
                        <li style="color:white">อำเภอปากพลี</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="minibox col-md-3">
            <div class="card-mini" style="width:290px;padding:10px;margin-left:30px;background-image:url(https://thumbs.gfycat.com/ThriftyPlasticLeveret-size_restricted.gif)">


                <h4 class="agileits-address-text " style="color:white">ข้อมูลการเกษตร</h4>
                <div>
                    <ul>
                        <li style="color:white">ข้อมูลพื้นฐานการเกษตร</li>
                        <li style="color:white">แผนพัฒนาการเกษตร</li>
                        <li style="color:white">ระเบียบและคู่มือปฏิบัติงาน</li>
                        <li style="color:white">ตือนการระบาดศัตรูพืช</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="minibox col-md-3">
            <div class="card-mini" style="width:290px;padding:10px;margin-left:30px;background-image:url(https://thumbs.gfycat.com/ThriftyPlasticLeveret-size_restricted.gif)">


                <h4 class="agileits-address-text " style="color:white">กิจกรรม</h4>
                <div>
                    <ul>
                        <li style="color:white">แบบคำร้อง</li>
                        <li style="color:white">แบบฟร์อม</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="minibox col-md-3">
            <div class="card-mini" style="width:290px;padding:10px;margin-left:30px;background-image:url(https://thumbs.gfycat.com/ThriftyPlasticLeveret-size_restricted.gif);">
                <h4 class="agileits-address-text " style="color:white">ระบบบันทึกรายงานโครงการ</h4>
                <div>
                    <ul>
                        <li style="color:white;text-shadow:inherit;">ระบบข้อมูลโครงการคลินิกเกษตรฯ</li>
                        <li style="color:white">ระบบทะเบียนเกษตรกรผู้ปลูกพืชเศรษฐกิจ</li>
                        <li style="color:white">ระบบศูนย์บริการและถ่ายทอดเทคโนฯ</li>
                        <li style="color:white">ระบบฐานข้อมูลและทะเบียนเกษตรกรฯ</li>
                        <li style="color:white">ระบบสารสนเทศการผลิตทางด้านเกษตร</li>
                        <li style="color:white">ระบบข้อมูลเกษตรกร (rbm)</li>
                        <li style="color:white">ระบบรายงานภัยธรรมชาติฯ</li>
                        <li style="color:white">ระบบส่งเสริมการเกษตร</li>
                        <li style="color:white">ระบบอาสาสมัครเกษตร</li>
                        <li style="color:white">ระบบวิสาหกิจชุมชน</li>
                        <li style="color:white">ระบบ E-project</li>
                        <li style="color:white">google.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 full-screen hidden flex-container-center" style="position:fixed;">
    <table class="row">
        <tr>
            <th style="width:auto">
                <img src="http://ongkharak.nakhonnayok.doae.go.th/jpg/17-1-20/1.jpg" alt="" style="image-resolution:from-image;">
            </th>
            <th style="width:400px;background-color:white;text-align:left;padding:20px;">
                <h4 style="color:black;">หน่วยบำบัดทุกข์ บำรุงสุข สร้างรอยยิ้มและความปรองดองสมานฉันท์ ให้ประชาชนจังหวัดนครนายก</h4>
                <h5 style="color:black;">หน่วยบำบัดทุกข์ บำรุงสุข สร้างรอยยิ้มและความปรองดองสมานฉันท์ ให้ประชาชนจังหวัดนครนายก</h5>
               
            </th>
        </tr>


    </table>
    <i onclick="closePopup()" class="fas fa-times" style="position:absolute;right:30px;top:70px;font-size:30px"></i>
</div>


<script>
    const popup = document.querySelector('.full-screen');

    function showPopup() {
        popup.classList.remove('hidden');
    }


    function closePopup() {
        popup.classList.add('hidden');
    }


</script>
<style>
    .full-screen {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0,0,0,0.9);
    }

    .flex-container-center {
        displaY: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .full-screen {
        color: white
    }

    .hidden {
        display: none;
    }
</style>
