
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="">
    <div class="agileinfo-dot">
        <div class="w3-banner-grids">
            <div class="col-md-6 w3-banner-grid-left">
                <div class="w3-banner-img" style="background-color:#d3d3d3">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR13RfwF5DUUibhHuvS8cEgxF2oTppaNx_ICmlyimYfkdeHtlEz&usqp=CAU" alt="img">
                    <br /> <br /> <br />
                    <h4 class="test">อนุภาค มหาศาล</h4>
                    <br />
                    <p class="test">เกษตรกร</p>
                </div>
            </div>
            <div class="col-md-6 w3-banner-grid-right " style="color:black;">
                <div class="w3-banner-text w3-banner-top text-center" style="height:auto;width:auto;padding:10px;border-radius:10px;margin-left:80px">
                    <h3 style="color:black;">ประวัติส่วนตัว</h3>
                </div><br /><br /><br /><br />
                <div class=" w3-right-addres-1">
                    <ul class="address">
                        <li>
                            <ul class="agileits-address-text ">
                                <li class="agile-it-adress-left"><b>ชื่อ-นามสกุล</b></li>
                                <li class="text-info">อนุภาค มหาศาล</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="agileits-address-text">
                                <li class="agile-it-adress-left"><b>เบอร์โทร</b></li>
                                <li class="text-info">0825354290</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="agileits-address-text">
                                <li class="agile-it-adress-left"><b>E-MAIL</b></li>
                                <li class="text-info"><a href="mailto:example@mail.com"> info@example.com</a></li>
                            </ul>
                        </li>
                        <li>
                            <ul class="agileits-address-text">
                                <li class="agile-it-adress-left"><b>อาชีพ</b></li>
                                <li class="text-info">เกษตรกร</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="agileits-address-text">
                                <li class="agile-it-adress-left"><b>สถานะ</b></li>
                                <li class="text-info">เกษตรกรในพื้นที่</li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>